# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist

# My configurations:
id_rsa
data_loader/ABKEFGHIJ_EFGHIJ_FGHIJ-E_FGHIJ5-E/0/
data_loader/ABKEFGHIJ_EFGHIJ_FGHIJ-E_FGHIJ5-E/1/
data_loader/ABKEFGHIJ_EFGHIJ_FGHIJ-E_FGHIJ5-E/2/

experiments/